*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}

#perfeito{
    background-image: url(../css/images/perfeito.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

#soldado{
   background-image: url(../css/images/soldado.jpg);
   height: 100vh;
   background-size: cover;
   background-position: center;
} 

#galeria{
    background-image: url(../css/images/galeria.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
 } 

 #aboutus1{
    background-image: url(../css/images/aboutus1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
 }

 #contactUs{
    background-image: url(../css/images/contact.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
 }
 
ul{

    float: right;
    list-style-type: none;
    
}

ul li {
    display: inline-block;
}

ul li a{
   text-decoration:none;
   color:black;
   padding: 5px 20px;
   border: 1px solid transparent;
   transition: 0.6s ease;
   
}

ul li a:hover{
    background-color: green;
    color:#000;
}
#nenu.active a{
    background-color: green;
    color:#000;
}

.expert{
    max-width: 1200px;
    margin: auto;
}

